In [1]:
# volume
SELECT COUNT(*) FROM articles;
# coverage by source (derive from url host)
SELECT substr(url, 1, instr(substr(url,9),'/')+8) AS host, COUNT(*) 
FROM articles GROUP BY host ORDER BY COUNT(*) DESC;
# text length
SELECT AVG(length(text)), MIN(length(text)), MAX(length(text)) FROM articles;
# missing metadata
SELECT COUNT(*) FROM articles WHERE title IS NULL OR title='';
SELECT COUNT(*) FROM articles WHERE published IS NULL;
# dup by content hash
SELECT content_hash, COUNT(*) FROM articles GROUP BY content_hash HAVING COUNT(*)>1;

SyntaxError: invalid syntax (1847098002.py, line 2)